.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cockpit {
  display: flex;
  flex-direction: column;
}

.Cockpit button {
  border: 1px solid blue;
  border-radius: 15px;
  padding: 12px 18px;
  background-color: green;
  font: inherit;
  color: white;
  cursor: pointer;
}

.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.Red {
  background-color: red;
}

.Cockpit button.Red:hover {
  background-color: salmon;
  color: black;
}

.btn__container {
  display: flex;
  gap: 5px;
}
